[Unit]
Description=Bolixo social network
#Documentation=
After=network.target

[Service]
ExecStart=/usr/share/bolixo/bolixoserv start 
ExecStop=/usr/share/bolixo/bolixoserv stop
Type=forking

[Install]
WantedBy=default.target

